@use "variables";
.info{
  &__list{
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: variables.$text-secondary;
  }
  &__title{
    font-size: variables.$font-size-base;
  }
  &__text{
    font-weight: 500;
    font-size: variables.$font-size-lg;
    line-height: 1.2em;
    &.active{
      font-weight: 600;
      color: variables.$text-primary;
    }
  }
  @media(max-width:700px){
    &__list{
      gap: 5px;
      flex-wrap: wrap;
    }
    &__item{
      flex-shrink: 0;
      gap: 2px;
    }
    &__title{
      font-size: variables.$font-size-sm;
    }
    &__text{
      font-size: variables.$font-size-base;
    }
  }
}