$text-primary: #000000;
$text-secondary: #a2a0a0;

$accent-primary: #0070f0;
$accent-done: #006908;
$accent-tertiary: #e1e0e0;

$background-primary: #f6f7f8;
$background-done: #d7f7c2;
$background-secondary: #ffffff;
$background-tertiary: #E4EAF0;

$h1-font-size:   20px;
$h2-font-size:   24px;

$font-size-lg:   20px;
$font-size-md:   10px;
$font-size-sm:   8px;

$font-size-base: 12px;